@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    font: #fff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-image: url("./img/bg2.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.322), rgba(5, 5, 5, 0.548)), url("./img/bg2.jpg"); /* The least supported option. */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

section{
    position: relative;
}

.container{
position: relative;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: 40px 0;
}

.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    cursor: pointer;
}

.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}


.container .card .content .image{
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);
}

.container .card .content .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content .contentbox h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    opacity: 1;
    margin: 20px 0 10px;
    line-height: 1.1em;
    z-index: 100;
}

.container .card .content .contentbox h3 span a #job{
font-size: 12px;
font-weight: 300;
text-transform: initial;
line-height: 1.1em;
font: #fff;
}

.container .card .social{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container .card .social li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .social li{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .social li a{
    color: #fff;
    font-size: 24px;

}
